a{
  all: unset;
}

.content-container{
  margin: 0 auto;
  min-height: 100vh;
  flex-basis: 50%;
  background-color: rgb(247, 247, 247);
}

.content-container-full{
  flex-basis: 100% !important;
  margin: 0;
}

@media (max-width: 1000px){
  .content-home-left{
    width: 100%;
  }
}

.delete-icon{
  font-size: 1.1rem;
}

.content{
  width: 90%;
  max-width: 850px;
  margin: 0 auto;
  gap: 1em;

  display: flex;
  flex-direction: row;
  padding: 1em 0;

  *{
    box-sizing: border-box;
  }
}

.profile-card .content-home-right{
  padding: 1em;
}

@media (max-width: 850px){
  .content{
    flex-direction: column;
    min-width: 0;
    overflow: hidden;
  }

  .content-home-left, .content-home-right{
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    min-width: 0;
    overflow: hidden;
    flex-wrap: wrap;
    >*{
      flex-shrink: 1;
    }
  }
}

@media (max-width: 450px){

  .sub-replies-container{
    padding-left: 0.5em !important;
  }

  .reply-profile-content{
    max-width: 25ch;
  }

}

.post-prompt{
  background-color: white;
  box-shadow: .5px .5px 5px lightgray;
  border-radius: 5px;
  margin-bottom: 1em;
  padding-bottom: 1em;
  min-height: 10em;

  .media, .media-loading{
    height: 100%;
  }

  .person-detail-flex{
    height: 100%;
    width: 90%;
  }

  .post-form{
    min-height: 5em;
    width: 100%;

    .post-textbox{
      height: 100%; width: 100%;
      resize: none;
      font: inherit;
      font-size: 0.75rem;
      border-radius: 5px;
      padding: 1em;
    }
  }

  .attach-media{
    padding: 0 2em;
    display: flex;
    flex-direction: row;
    min-width: 0;
    min-height: 0;
    overflow: hidden;

  }
  .attach-icons{
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: space-evenly;
    min-width: 0;
    min-height: 0;
    overflow: hidden;

    >*{
      width: 100% !important;
      flex: 1 1 auto
    }
  }

  .attach-icon{
    font-size: 1.5em;
  }
}


.person-detail-image, .reply-profile-img{
  border-radius: 50%;
  border: 1px solid lightgray;
  aspect-ratio: 1/1;
  transition: all .2s ease-out;
  background-color: lightslategray;
  overflow: hidden;

  display: flex;
  justify-content: center;

  &:hover{
    transform: scale(1.1);
    cursor: pointer
  }

  >*{
    height: 100%;
  }
}

.person-detail-image{
  width: 50px;
}
.reply-profile-img{
  width: 40px;
}

.content-home{

  .content-home-right{
    flex-basis: 100%;
    overflow: hidden;

    // for all profile images within the post

    .person-detail-flex{
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 1em;
      justify-content: space-between;
      gap: 1em;
      
      .post-author{
        font-weight: 600;
      }

      .post-time{
        font-size: 0.75rem;
        color: lightslategray;
      }
    }

    .content-post{
      background-color: white;
      box-shadow: .5px .5px 5px lightgray;
      border-radius: 5px;
      margin-bottom: 1em;
      padding-bottom: 1em;

      // for all post/reply names
      .post-author:hover, .reply-profile-name:hover{
        cursor: pointer;
      }

      .post{
        display: flex;
        flex-direction: column;

        .media, .media-loading{
          //height: 400px;
          width: 100%;
          justify-self: center;
          align-self: center;
          object-fit: contain;
          margin-bottom: 1em;
        }

        .media-loading{
          background-color: lightgray;
        }

        .post-content{
          padding: 0 1em 1em 1em;
        }
      }

      .post-interaction{

        display: flex;
        flex-direction: column;
        gap: 0.5em;
        padding: 0 0.5em;

        .interaction-prompt{
          display: flex;
          flex-direction: row;
          margin: 0 auto;
          width: 95%;
          justify-content: space-between;
          align-items: center;
          font-size: 0.9rem;
        }

        .interaction-prompt-left{
          display: flex;
          color: lightslategray;
          gap: 1em;

          >*{
            transition: all .1s ease-out;
            padding: 0.5em;
            margin: 0.2em;
            border-radius: 5px;

            &:hover{
              background-color: lightgray;
              cursor: pointer;
            }
          }
        }


        .comment-box{
          padding: 0.5em;
          display: flex;
          gap: 0.5em;
          align-items: center;
          flex-direction: row;

          .comment-form {
            flex-basis: 100%;
            transition: all .2s ease-out;

            .empty-prompt{
              padding: 0 0 .5em 0;
              font-size: 0.8rem;
              color: rgb(204, 58, 58);
            }
            
            textarea{
              resize: none;
              font: inherit; font-size: 0.85rem;
              width: 100%;
              height: 5em !important;
              box-shadow: .5px .5px 5px lightgray;
              border: none;
              border-radius: 5px;
              background-color: rgb(247, 247, 247);
              box-sizing: border-box;
              padding: 0.7em;

              &:focus{
                border: 1px solid lightslategray
              }
            }
          }
        }

        .replies{
          padding: 0 0.5em;
          
          .reply-container{
            .see-sub-replies{
              font-size: 0.9rem;
              color: lightslategray;
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 0.5em;
              //padding: 0.5em;
            }
          }

          .reply-to{
            font-size: 0.8rem;
            padding-bottom: 0.5em;
            color: lightslategray;
            display: flex; gap: 0.5em;
            align-items: center;
          }

          .reply{
            display: flex;
            flex-direction: row;
            padding: 1em 0;
            align-items: flex-start;
            justify-content: space-between;

          }
          
          .most-relevant{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: lightslategray;
            gap: 0.5em;

          }

          .reply-profile-content{
            background-color: rgb(247, 247, 247);
            box-shadow: .5px .5px 5px lightgray;
            border-radius: 10px;
            padding: 0.7em;
            max-width: 30ch;
            //max-width: 70%;
            //min-width: 10em;

            .reply-profile-name{
              font-size: 0.9rem;
              font-weight: 600;
            }

            .reply-profile-reply{
              font-size: 0.85rem;
            }
          }

          .reply-stats{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 0.8rem;
            color: lightslategray;
            margin-top: 5px;

            >*{
              padding: 0 0.5em;
            }

            .reply-likes:hover, .reply-to:hover{
              background-color: lightgray;
              cursor: pointer;
              border-radius: 5px;
            }
          }
          
          .sub-replies-container{
            padding-left: 1em;
            .reply{
              padding-top: 0;
            }
          }

          .see-more-container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
          }

          .see-n-more{
            form{
              display: flex;
              flex-direction: row;
              gap: 0.5em;
              align-items: center;
            }

            span{
              color: lightslategray;
              font-size: 0.8rem;
            }
          }

          .see-more-less{
            display: flex;
            flex-direction: row;
            gap: 1em;
          }

          .comments-displaying{
            font-size: 0.8rem;
            color: lightslategray;
            padding: 1em 0;

            span{
              font-weight: bold;
            }
          }
        }


      }
    }
  }
}

.content-home-left{
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 90%;
  margin: 0 auto;

  box-sizing: border-box;
  *{
    box-sizing: border-box;
  }


  >*{
    //min-height: 100px;
    width: 100%;
    background-color: white;
    box-shadow: 0 .5px 5px lightgray;
    border-radius: 5px;
    padding: 1em;
    font-size: 1rem;
  }

  .about{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;

    >*{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 0.5em;
    }
  }

  .photos{
    display: flex;
    flex-direction: column;
    gap: 1em;
    
    .photos-grid{
      display: grid;
      grid-template: 1fr 1fr / 1fr 1fr;
      justify-content: center;
      align-items: center;
      gap: .5em;
    }

    .grid-image{
      width: 100%;
      border-radius: 5px;
      cursor: pointer;
      transition: all .2s ease-out;

      &:hover{
        transform: scale(1.02);
        box-shadow: .5px .5px 5px lightslategray;
      }
    }

    .grid-image-loading{
      width: 100%; height: 100px;
      border-radius: 5px;
      background-color: lightgray;
    }

    .photos-more{
      align-self: center;
      text-align: center;
      cursor: pointer;
      transition: all .2s ease-out;
      border-radius: 5px;
      width: 50%;
      padding: 1em;

      &:hover{
        background-color: lightgray;
        border: .5px .5px 5px lightslategray
      }
    }
  }

  .videos{
    display: flex;
    flex-direction: column;
    gap: 1em;

    .videos-header{
      display: flex; flex-direction: row;
      justify-content: space-between;
    }

    .videos-content{
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      
      .video-card{
        width: 100%;
        border-radius: 5px;
        align-self: center;
        transition: all .2s ease-out;

        &:hover{
          transform: scale(1.02);
          box-shadow: .5px .5px 5px lightslategray;
        }
      }

      .video-card-desc{
        font-weight: bold;
      }
    }

    .videos-interaction{
      
      
      .video-stats{
        font-size: 0.8rem;
        color: lightslategray;
      }
    }
  }

  .related-pages{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-bottom: 1em;

    .related-card{
      display: flex; flex: row;
      align-items: center;

      >*{
        padding: 0.5em;
      }
      
      .related-card-image img, .related-image-loading{
        width: 50px;
        border-radius: 50%;
        border: 1px solid lightgray;
        aspect-ratio: 1/1;
      }

      .related-image-loading{
        background-color: gray;
      }

      .related-about{
        font-size: 0.9rem;
      }
    }
  }

  .small-talk{
    font-size: 0.8rem;
    color: lightslategray;
  }
}

.content-review{
  
  .content-review-right{
    flex-basis: 100%;
  }

  .content-review-left{
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex-basis: 80%;

    >*{
      min-height: 100px;
      width: 100%;
      background-color: white;
      box-shadow: 0 .5px 5px lightgray;
      border-radius: 5px;
      padding: 1em;
      font-size: 1rem;
    }
  }
}