a {
  all: unset;
}

.content-container {
  margin: 0 auto;
  background-color: rgb(247, 247, 247);
}

.content {
  width: 90%;
  max-width: 850px;
  margin: 0 auto;
  gap: 1em;
  display: flex;
  flex-direction: row;
  padding: 1em 0;
}
.content * {
  box-sizing: border-box;
}

@media (max-width: 850px) {
  .content {
    flex-direction: column;
    min-width: 0;
    overflow: hidden;
  }
  .content-home-left, .content-home-right {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    min-width: 0;
    overflow: hidden;
    flex-wrap: wrap;
  }
  .content-home-left > *, .content-home-right > * {
    flex-shrink: 1;
  }
}
.content-home .content-home-right {
  flex-basis: 55%;
  overflow: hidden;
}
.content-home .content-home-right .post-prompt {
  background-color: white;
  box-shadow: 0.5px 0.5px 5px lightgray;
  border-radius: 5px;
  margin-bottom: 1em;
  padding-bottom: 1em;
  min-height: 10em;
}
.content-home .content-home-right .post-prompt .media, .content-home .content-home-right .post-prompt .media-loading {
  width: 4em;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.content-home .content-home-right .post-prompt .person-detail-flex {
  height: 100%;
  width: 90%;
}
.content-home .content-home-right .post-prompt .post-form {
  min-height: 5em;
  width: 100%;
}
.content-home .content-home-right .post-prompt .post-form .post-textbox {
  height: 100%;
  width: 100%;
  resize: none;
  font: inherit;
  font-size: 0.75rem;
  border-radius: 5px;
  padding: 1em;
}
.content-home .content-home-right .post-prompt .attach-media {
  padding: 0 2em;
  display: flex;
  flex-direction: row;
}
.content-home .content-home-right .post-prompt .attach-icons {
  display: flex;
  flex-basis: 100%;
  gap: 1em;
  flex-direction: row;
  justify-content: space-evenly;
}
.content-home .content-home-right .post-prompt .attach-icon {
  font-size: 1.5em;
}
.content-home .content-home-right .person-detail-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em;
}
.content-home .content-home-right .person-detail-flex .person-detail-image, .content-home .content-home-right .person-detail-flex .person-detail-info {
  padding: 0.5em;
}
.content-home .content-home-right .person-detail-flex .post-author {
  font-weight: 600;
}
.content-home .content-home-right .person-detail-flex .post-time {
  font-size: 0.75rem;
  color: lightslategray;
}
.content-home .content-home-right .content-post {
  background-color: white;
  box-shadow: 0.5px 0.5px 5px lightgray;
  border-radius: 5px;
  margin-bottom: 1em;
  padding-bottom: 1em;
}
.content-home .content-home-right .content-post .person-detail-image img, .content-home .content-home-right .content-post .reply-profile-img img {
  width: 50px;
  border-radius: 50%;
  border: 1px solid lightgray;
  aspect-ratio: 1/1;
  transition: all 0.2s ease-out;
}
.content-home .content-home-right .content-post .person-detail-image img:hover, .content-home .content-home-right .content-post .reply-profile-img img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.content-home .content-home-right .content-post .reply-profile-img img {
  width: 40px;
}
.content-home .content-home-right .content-post .post-author:hover, .content-home .content-home-right .content-post .reply-profile-name:hover {
  cursor: pointer;
  text-decoration: underline;
}
.content-home .content-home-right .content-post .post {
  display: flex;
  flex-direction: column;
}
.content-home .content-home-right .content-post .post .media, .content-home .content-home-right .content-post .post .media-loading {
  width: 100%;
  justify-self: center;
  align-self: center;
  -o-object-fit: contain;
     object-fit: contain;
}
.content-home .content-home-right .content-post .post .media-loading {
  background-color: lightgray;
}
.content-home .content-home-right .content-post .post .post-content {
  padding: 0 1em 1em 1em;
}
.content-home .content-home-right .content-post .post-interaction {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 0 0.5em;
}
.content-home .content-home-right .content-post .post-interaction .interaction-stats, .content-home .content-home-right .content-post .post-interaction .interaction-prompt {
  display: flex;
  flex-direction: row;
}
.content-home .content-home-right .content-post .post-interaction .interaction-stats {
  justify-content: space-between;
  color: lightslategray;
  padding: 0.5em 1em;
}
.content-home .content-home-right .content-post .post-interaction .interaction-prompt {
  width: 95%;
  margin: 0 auto;
  justify-content: space-evenly;
  gap: 1em;
  border-bottom: 1px solid lightslategray;
  border-top: 1px solid lightslategray;
  color: lightslategray;
  padding: 0 1em;
}
.content-home .content-home-right .content-post .post-interaction .interaction-prompt > * {
  transition: all 0.1s ease-out;
  padding: 0.5em;
  margin: 0.2em;
  border-radius: 5px;
}
.content-home .content-home-right .content-post .post-interaction .interaction-prompt > *:hover {
  background-color: lightgray;
  cursor: pointer;
}
.content-home .content-home-right .content-post .post-interaction .comment-box {
  padding: 0.5em;
  display: flex;
  gap: 0.5em;
  align-items: center;
  flex-direction: row;
}
.content-home .content-home-right .content-post .post-interaction .comment-box .comment-form {
  flex-basis: 100%;
  transition: all 0.2s ease-out;
}
.content-home .content-home-right .content-post .post-interaction .comment-box .comment-form .empty-prompt {
  padding: 0 0 0.5em 0;
  font-size: 0.8rem;
  color: rgb(204, 58, 58);
}
.content-home .content-home-right .content-post .post-interaction .comment-box .comment-form textarea {
  resize: none;
  font: inherit;
  font-size: 0.85rem;
  width: 100%;
  height: 5em !important;
  box-shadow: 0.5px 0.5px 5px lightgray;
  border: none;
  border-radius: 5px;
  background-color: rgb(247, 247, 247);
  box-sizing: border-box;
  padding: 0.7em;
}
.content-home .content-home-right .content-post .post-interaction .comment-box .comment-form textarea:focus {
  border: 1px solid lightslategray;
}
.content-home .content-home-right .content-post .post-interaction .replies {
  padding: 0 0.5em;
}
.content-home .content-home-right .content-post .post-interaction .replies .reply-container .see-sub-replies {
  font-size: 0.9rem;
  color: lightslategray;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}
.content-home .content-home-right .content-post .post-interaction .replies .reply-to {
  font-size: 0.8rem;
  padding-bottom: 0.5em;
  color: lightslategray;
  display: flex;
  gap: 0.5em;
  align-items: center;
}
.content-home .content-home-right .content-post .post-interaction .replies .reply {
  display: flex;
  flex-direction: row;
  padding: 1em 0;
  gap: 0.5em;
  align-items: flex-start;
}
.content-home .content-home-right .content-post .post-interaction .replies .most-relevant {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: lightslategray;
  gap: 0.5em;
}
.content-home .content-home-right .content-post .post-interaction .replies .reply-profile-content {
  background-color: rgb(247, 247, 247);
  box-shadow: 0.5px 0.5px 5px lightgray;
  border-radius: 10px;
  padding: 0.7em;
}
.content-home .content-home-right .content-post .post-interaction .replies .reply-profile-content .reply-profile-name {
  font-size: 0.9rem;
  font-weight: 600;
}
.content-home .content-home-right .content-post .post-interaction .replies .reply-profile-content .reply-profile-reply {
  font-size: 0.85rem;
}
.content-home .content-home-right .content-post .post-interaction .replies .reply-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.8rem;
  color: lightslategray;
  margin-top: 5px;
}
.content-home .content-home-right .content-post .post-interaction .replies .reply-stats > * {
  padding: 0 0.5em;
}
.content-home .content-home-right .content-post .post-interaction .replies .reply-stats .reply-likes:hover, .content-home .content-home-right .content-post .post-interaction .replies .reply-stats .reply-to:hover {
  background-color: lightgray;
  cursor: pointer;
  border-radius: 5px;
}
.content-home .content-home-right .content-post .post-interaction .replies .sub-replies-container {
  padding-left: 2em;
}
.content-home .content-home-right .content-post .post-interaction .replies .sub-replies-container .reply {
  padding-top: 0;
}
.content-home .content-home-right .content-post .post-interaction .replies .see-more-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.content-home .content-home-right .content-post .post-interaction .replies .see-n-more form {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
}
.content-home .content-home-right .content-post .post-interaction .replies .see-n-more span {
  color: lightslategray;
  font-size: 0.8rem;
}
.content-home .content-home-right .content-post .post-interaction .replies .see-more-less {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.content-home .content-home-right .content-post .post-interaction .replies .comments-displaying {
  font-size: 0.8rem;
  color: lightslategray;
  padding: 1em 0;
}
.content-home .content-home-right .content-post .post-interaction .replies .comments-displaying span {
  font-weight: bold;
}
.content-home .content-home-left {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex-basis: 45%;
}
.content-home .content-home-left > * {
  min-height: 100px;
  width: 100%;
  background-color: white;
  box-shadow: 0 0.5px 5px lightgray;
  border-radius: 5px;
  padding: 1em;
  font-size: 1rem;
}
.content-home .content-home-left .about {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.content-home .content-home-left .about > * {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5em;
}
.content-home .content-home-left .photos {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.content-home .content-home-left .photos .photos-grid {
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.content-home .content-home-left .photos .grid-image {
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.content-home .content-home-left .photos .grid-image:hover {
  transform: scale(1.02);
  box-shadow: 0.5px 0.5px 5px lightslategray;
}
.content-home .content-home-left .photos .grid-image-loading {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  background-color: lightgray;
}
.content-home .content-home-left .photos .photos-more {
  align-self: center;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-out;
  border-radius: 5px;
  width: 50%;
  padding: 1em;
}
.content-home .content-home-left .photos .photos-more:hover {
  background-color: lightgray;
  border: 0.5px 0.5px 5px lightslategray;
}
.content-home .content-home-left .videos {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.content-home .content-home-left .videos .videos-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content-home .content-home-left .videos .videos-content {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.content-home .content-home-left .videos .videos-content .video-card {
  width: 100%;
  border-radius: 5px;
  align-self: center;
  transition: all 0.2s ease-out;
}
.content-home .content-home-left .videos .videos-content .video-card:hover {
  transform: scale(1.02);
  box-shadow: 0.5px 0.5px 5px lightslategray;
}
.content-home .content-home-left .videos .videos-content .video-card-desc {
  font-weight: bold;
}
.content-home .content-home-left .videos .videos-interaction .video-stats {
  font-size: 0.8rem;
  color: lightslategray;
}
.content-home .content-home-left .related-pages {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.content-home .content-home-left .related-pages .related-card {
  display: flex;
  flex: row;
  align-items: center;
}
.content-home .content-home-left .related-pages .related-card > * {
  padding: 0.5em;
}
.content-home .content-home-left .related-pages .related-card .related-card-image img, .content-home .content-home-left .related-pages .related-card .related-image-loading {
  width: 50px;
  border-radius: 50%;
  border: 1px solid lightgray;
  aspect-ratio: 1/1;
}
.content-home .content-home-left .related-pages .related-card .related-image-loading {
  background-color: gray;
}
.content-home .content-home-left .related-pages .related-card .related-about {
  font-size: 0.9rem;
}
.content-home .content-home-left .small-talk {
  font-size: 0.8rem;
  color: lightslategray;
}

.content-review .content-review-right {
  flex-basis: 100%;
}
.content-review .content-review-left {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex-basis: 80%;
}
.content-review .content-review-left > * {
  min-height: 100px;
  width: 100%;
  background-color: white;
  box-shadow: 0 0.5px 5px lightgray;
  border-radius: 5px;
  padding: 1em;
  font-size: 1rem;
}/*# sourceMappingURL=Content.css.map */