a{
    all: unset;
}

.content-container{
    margin: 0 auto;
    background-color: rgb(247, 247, 247);
}

.content{
    width: 90%;
    max-width: 850px;
    margin: 0 auto;
    gap: 1em;

    display: flex;
    flex-direction: row;
    padding: 1em 0;

    *{
        box-sizing: border-box;
    }
}

.content-home{

    .content-home-right{
        flex-basis: 55%;
        overflow: hidden;

        .content-post{
            min-height: 500px;
            background-color: white;
            box-shadow: .5px .5px 5px lightgray;
            border-radius: 5px;

            // for all profile images within the post
            .person-detail-image img, .reply-profile-img img{
                width: 50px;
                border-radius: 50%;
                border: 1px solid lightgray;
                aspect-ratio: 1/1;
            }
            .reply-profile-img img{ width: 40px;}
            
            // specific selections
            .person-detail-flex{
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 1em;

                .person-detail-image, .person-detail-info{
                    padding: 0.5em;
                }

                .post-time{
                    font-size: 0.8rem;
                }

                .post-time{
                    font-size: 0.75rem;
                    color: lightslategray;
                }
            }

            .post{

                .media, .media-loading{
                    height: 400px;
                }

                .media-loading{
                    background-color: lightgray;
                }

                .post-content{
                    padding: 0 1em 1em 1em;
                }
            }

            .post-interaction{

                display: flex;
                flex-direction: column;
                gap: 0.5em;
                padding: 0 0.5em;

                .interaction-stats, .interaction-prompt{
                    display: flex;
                    flex-direction: row;
                    padding: 0.5em 1em;
                }

                .interaction-stats{
                    justify-content: space-between;
                    color: lightslategray;
                }

                .interaction-prompt{
                    width: 95%;
                    margin: 0 auto;
                    justify-content: space-evenly;
                    gap: 1em;
                    border-bottom: 1px solid lightslategray;
                    border-top: 1px solid lightslategray;
                    color: lightslategray;

                }

                .comment-box{
                    padding: 0.5em;
                    display: flex;
                    gap: 0.5em;
                    align-items: center;
                    flex-direction: row;

                    .comment-form {
                        flex-basis: 100%;

                        textarea{
                            resize: none;
                            font: inherit; font-size: 0.85rem;
                            width: 100%;
                            height: 5em !important;
                            box-shadow: .5px .5px 5px lightgray;
                            border: none;
                            border-radius: 5px;
                            background-color: rgb(247, 247, 247);
                            box-sizing: border-box;
                            padding: 0.7em;

                            &:focus{
                                border: 1px solid lightslategray
                            }
                        }
                    }
                }

                .replies{
                    padding: 0 0.5em;

                    .reply{
                        display: flex;
                        flex-direction: row;
                        padding: 1em 0;
                        gap: 0.5em;
                        align-items: center;
                    }
                    
                    .most-relevant{
                        display: flex;
                        flex-direction: row;
                        justify-content: end;
                        color: lightslategray;

                    }

                    .reply-profile-content{
                        background-color: rgb(247, 247, 247);
                        box-shadow: .5px .5px 5px lightgray;
                        border-radius: 10px;
                        padding: 0.7em;

                        .reply-profile-name{
                            font-size: 0.9rem;
                            font-weight: bold;
                        }

                        .reply-profile-reply{
                            font-size: 0.85rem;
                        }
                    }

                    .reply-stats{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        font-size: 0.8rem;
                        color: lightslategray;
                        margin-top: 5px;

                        >*{
                            padding: 0 0.5em;
                        }
                    }
                    
                }


            }
        }
    }

    .content-home-left{
        display: flex;
        flex-direction: column;
        gap: 1em;
        flex-basis: 45%;

        >*{
            min-height: 100px;
            width: 100%;
            background-color: white;
            box-shadow: 0 .5px 5px lightgray;
            border-radius: 5px;
            padding: 1em;
            font-size: 1rem;
        }

        .about{
            display: flex;
            flex-direction: column;
            gap: 1em;

            >*{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: start;
                gap: 0.5em;
            }
        }

        .photos{
            display: flex;
            flex-direction: column;
            gap: 1em;
            
            .photos-grid{
                display: grid;
                grid-template: 1fr 1fr / 1fr 1fr;
                justify-content: center;
                align-items: center;
                gap: .5em;
            }
    
            .grid-image{
                width: 100%;
                border-radius: 5px;
                cursor: pointer;
                transition: all .2s ease-out;

                &:hover{
                    transform: scale(1.02);
                    box-shadow: .5px .5px 5px lightslategray;
                }
            }

            .grid-image-loading{
                width: 100%; height: 100px;
                border-radius: 5px;
                background-color: lightgray;
            }

            .photos-more{
                align-self: center;
                text-align: center;
                cursor: pointer;
                transition: all .2s ease-out;
                border-radius: 5px;
                width: 50%;
                padding: 1em;

                &:hover{
                    background-color: lightgray;
                    border: .5px .5px 5px lightslategray
                }
            }
        }

        .videos{
            display: flex;
            flex-direction: column;
            gap: 1em;

            .videos-header{
                display: flex; flex-direction: row;
                justify-content: space-between;
            }

            .videos-content{
                display: flex;
                flex-direction: column;
                gap: 0.5em;
                
                .video-card{
                    width: 100%;
                    border-radius: 5px;
                    align-self: center;
                    transition: all .2s ease-out;

                    &:hover{
                        transform: scale(1.02);
                        box-shadow: .5px .5px 5px lightslategray;
                    }
                }

                .video-card-desc{
                    font-weight: bold;
                }
            }

            .videos-interaction{
                
                
                .video-stats{
                    font-size: 0.8rem;
                    color: lightslategray;
                }
            }
        }

        .related-pages{
            display: flex;
            flex-direction: column;
            gap: 0.5em;

            .related-card{
                display: flex; flex: row;
                align-items: center;

                >*{
                    padding: 0.5em;
                }
                
                .related-card-image img, .related-image-loading{
                    width: 50px;
                    border-radius: 50%;
                    border: 1px solid lightgray;
                    aspect-ratio: 1/1;
                }

                .related-image-loading{
                    background-color: gray;
                }

                .related-about{
                    font-size: 0.9rem;
                }
            }
        }

        .small-talk{
            font-size: 0.8rem;
            color: lightslategray;
        }
    }
}


.content-review{
    
    .content-review-right{
        flex-basis: 100%;
    }

    .content-review-left{
        display: flex;
        flex-direction: column;
        gap: 1em;
        flex-basis: 80%;

        >*{
            min-height: 100px;
            width: 100%;
            background-color: white;
            box-shadow: 0 .5px 5px lightgray;
            border-radius: 5px;
            padding: 1em;
            font-size: 1rem;
        }
    }
}