.no-center{
  text-align: start;
}

.icon-button{
  display: flex;
  gap: 1em;
  align-items: center;
}

.no-padding{
  padding: 0 !important;
}

.button-loading-icon{
  font-size: 2rem !important;
}

.gray-button{
  background-color: rgb(247, 247, 247) !important;
}

.submit-button{
  border: none;
  background-color: rgb(247, 247, 247);
  box-shadow: .5px .5px 5px lightgray;
  border-radius: 5px;

  transition: background-color .1s ease-out;
}

.default-blue{
  border: none;
  background-color: #1B74E4;
  color: white;
  border-radius: 5px;
  padding: 0.5em;

  transition: background-color .1s ease-out;
}

.default-white{
  border: none;
  background-color: white;
  border-radius: 5px;
  padding: 0.5em;

  transition: background-color .1s ease-out;
}

.default-gray{
  border: none;
  background-color: rgb(231, 231, 231);
  border-radius: 5px;
  padding: 0.5em;

  transition: background-color .1s ease-out;
}

.underline-white, .underline-blue{
  border: none;
  background: none;
}


@media (hover: hover){
  .submit-button:hover{
    background-color: lightgray;
    border: 1px solid lightslategray;
    cursor: pointer;
  }
  
  .default-blue:hover{
    cursor: pointer;
    background-color: #165baf;
  }

  .default-white:hover{
    cursor: pointer;
    background-color: lightgray;
  }

  .gray-button:hover{
    background-color: lightgrey !important;
  }

  .default-gray:hover{
    cursor: pointer;
    background-color: lightgray;
  }

  .underline-white:hover, .underline-blue:hover{
    text-decoration: underline;
    cursor: pointer;
  }

}
