/* MEDIA MODAL FOR POST PROMPT: FILE PostPrompt.js */
.media-modal-flex{
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.media-modal-flex > *{
  flex-basis: 100%;
}

.media-modal-title{
  text-align: center;
  margin-top: 0;
}

.media-modal-right .content-post{
  box-shadow: none !important;
}

@media (max-width: 950px){
  .media-modal-flex{
    flex-direction: column;
  }
}