body{
  font-family: sans-serif;
  margin: 0px;
  box-sizing: border-box;
}

h2, h3, p{
  padding: 0;
  margin: 0;
}


.App{
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

header, .main, .footer{
  width: 90%;
  max-width: 950px;
}

.header-container{
  position: sticky;
  background-color: white;
  top: 0; z-index: 100;
  padding-bottom: .5em;
  box-shadow: 0 .5px 5px lightgray;

  header{
    display: flex;
    flex-direction: row;
    justify-content: space-between; align-items: center;
    margin: 0 auto;
  
    ul{
      all: unset;
    }
  
    li{
      all: unset;
      padding: 2em;
    }
  
  }
}

.loading-icon{
  width: 10em;
  margin: auto auto;
}

.main-container{
  box-shadow: 0 .5px 5px lightgray;
}


.footer-container{
  min-height: 5em;
  align-items: center;
  display: flex;

  .footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto auto;
    >*{
      flex-basis: 100%;
    }
  }
}

@media (max-width: 650px){
  .header-container header{
    flex-direction: column;
  }

  .profile-info{
    flex-direction: column !important;
    
    >*{
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    .profile-link{
      display: flex;
      flex-direction: column;
    }

    .profile-name-img{
      justify-content: center;

      .profile-img-container{
        flex-basis: 25%;
      }
      .profile-name{
        flex-basis: 40%;
      }
    }
  }
}

.inline-icon{
  width: 1em;
}

.checkmark{
  width: 0.8rem;
  background-color: #1B74E4;
  border-radius: 50%;
}

.profile-card{

  box-shadow: 0 .5px 5px lightgray;

  .bg{
    background: url('/images/bg-image.jpg');
    height: 300px;

    .bg-image{
      width: 90%;
      max-width: 850px;
      margin: 0 auto;
      height: 100%;
      background: url('/images/insta-background.png');
      border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;
    }

  }


  .profile-info-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;

    .profile-info{
      width: 80%;
      max-width: 755px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0.5em 3em;
    }

    .profile-name-img{
      display: flex;
      flex-direction: row;
      gap: 1em;
      align-items: center;
      flex-basis: 65%;
    }
  }

  .profile-img-container{
    flex-basis: 20%;

    .profile-img{
      width: 80px;
      border-radius: 50%;
      border: 1px solid lightgray;
      transition: all .2s ease-out;
      aspect-ratio: 1/1;

      &:hover{
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }

  .profile-name{
    flex-basis: 70%;
    span{
      margin: 0 0.5em;
    }

    .inline-icon{
      width: 15px;
      background-color: #1B74E4;
      border-radius: 50%;
    }
  }

  .profile-link{
    flex-basis: 35%;

    .profile-link-button{
      background-color: #1B74E4;
      border: none;
      width: 90%;
      padding: 0 2em;
      border-radius: 5px;
      height: 3em;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: .4em;

      transition: all .2s ease-out;

      span{
        color: white;
        font-weight: 500;
        font-size: 1.1em;
      }

      &:hover{
        background-color: #165baf;
      }

      cursor: pointer;
    }
    
    .cube-icon{
      width: 17px;
    }

    .open-icon{
      width: 1em;
    }

    .website-link{
      font-size: .8rem;
      color: lightslategray;

      width: 90%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 1.5em;
      margin-top: .2rem;
      gap: .5em;
    }
  }
}

.profile-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 755px;
  margin: 0 auto;
  border-top: 1px solid lightgray;

  .profile-nav-right{
    height: 3.5em;
    width: 4em;

    .dropdown-selection{
      display: flex;
      justify-content: center;

      &:hover{
        background-color: lightgray;
        border-radius: 4px;
      }
    }
  }


  .profile-nav-selections{
    display: flex;
    flex-direction: row;
    
    >*{
      position: relative;
      width: 4em;
      text-align: center;
      padding:1em;
      margin: .5em 0;
      cursor: pointer;
      transition: background-color, border-radius .2s ease-out;

      a{
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
      }

      &:hover{
        background-color: lightgray;
        border-radius: 4px;
      }
      
    }

    .currentNav{
      border-bottom: 5px solid #1B74E4;
    }
  }

  .curr-selection{
    border-bottom: 2px solid #1B74E4;
  }

  .dropdown-selection{
    position: relative;
  }
  
  .dropdown{
    position: absolute;
    background-color: white;
    top: 3em; left: -0.2em;
    width: 15em;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 0 .5px 5px lightgray;
    align-items: center;

    >*{
      padding: 0.5em;
      margin: 0.3em;
      font-weight: 500;
      cursor: pointer;
      text-align: start;
      transition: all .2s ease-out;

      &:hover{
        background-color: lightgray;
        border-radius: 4px;
      }
    }
  }


  .dropdown-selection{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    cursor: pointer;
  }
}
